:root {
    /* main colors */
    --pink: #e50065;
    --blue: #49a0e8;
    --yellow: #f7d000;
    --gray: #808080;

    /* mode colors */
    --normal: #009fe9;
    --hard: #ffc300;
    --expert: #ff0084;
    --inferno: #4a004f;

    /* main colors */
    --link-blue: #0066c0;
}


html, body, button, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  color: #FFF;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
}
li {
  list-style: none;
}

section {
  display: block;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  color: var(--link-blue);
}

.login-select p {
  font-size: 0.8em;
  font-weight: bold;
  width: 90%;
  text-align: left;
  margin: 0 auto;
}
.login-select h2 {
  width: 90%;
  background-color: #000;
  line-height: 28px;
  padding-left: 2%;
  color: #FFF;
  font-size: 0.8em;
  margin: 15px auto;
}
.login-select ul.select-acount li {
  position: relative;
  width: 90%;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #FFF;
  border: #000 solid 2px;
  border-radius: 10px;
  padding: 5px;
}
.login-select ul.select-acount li .user-info__icon {
  position: relative;
  width: 134px;
}
.login-select .symbol__color__base{
  position: relative;
}
.login-select .symbol__color__base > img {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px #FFF,
  0 0 0 2px #9E9E9E;
  box-shadow: 0 0 0 1px #FFF,
  0 0 0 2px #9E9E9E;
}
.login-select .icon__image{
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.9);
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}
.login-select ul.select-acount li .user-info__icon img {
  width: 100%;
}
.login-select ul.select-acount li .user-info__icon__stage {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  z-index: 1;
}
.login-select ul.select-acount li .user-info__icon__official {
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 30px;
  z-index: 1;
}
.login-select ul.select-acount li .user-info__icon__vip {
  background-color: #FFF;
  position: absolute;
  bottom: 6px;
  left: 86px;
  width: 110px;
  border: #F31A7D solid 2px;
  color: #F31A7D;
  text-align: right;
  padding: 0 10px;
  line-height: 1rem;
  font-size: 0.7rem;
  font-weight: bold;
  z-index: 1;
}
.login-select ul.select-acount li .user-info__icon__vip::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("/img/web/ic/ic-vip.svg");
  background-size: 35px 24px;
  width: 35px;
  height: 24px;
  top: -4px;
  left: -17px;
}
.login-select ul.select-acount li .user-info__detail {
  width: 53%;
  font-size: 0.7rem;
  font-weight: bold;
}
.login-select ul.select-acount li .user-info__detail .user-info__detail__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.login-select ul.select-acount li .user-info__detail .rating__wrap {
  display: flex;
  margin-top: 5px;
  float: right;
}
.login-select ul.select-acount li .user-info__detail .rating__img {
  position: relative;
}
.login-select ul.select-acount li .user-info__detail .rating__data {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 1.2em;
  color: #fff;
}
.login-select ul.select-acount li .user-info__detail .user-info__detail__lv {
  position: relative;
  background: #F31A7D;
  line-height: 24px;
  color: #FFF;
  width: 30%;
  text-align: center;
}
.login-select ul.select-acount li .user-info__detail .user-info__detail__lv::after {
  content: "";
  background: #F31A7D;
  -webkit-clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 105%);
  clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 105%);
  height: 24px;
  width: 24px;
  position: absolute;
}
.login-select ul.select-acount li .user-info__detail .user-info__detail__name {
  background: #000;
  line-height: 24px;
  color: #FFF;
  width: 75%;
  text-align: center;
}
.login-select ul.select-acount li .user-info__detail .user-info__detail__title {
  background: #E5E5E5;
  color: #000;
  font-size: 1em;
  line-height: 1em;
  margin: 5px 0;
  padding: 8px 4px 8px 8px;
  height: 25px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.login-select ul.select-acount li .user-info__detail .user-info__detail__title::-webkit-scrollbar {
  display: none;
}
.login-select ul.select-acount li .user-info__detail .user-info__detail__wp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 55%;
  background: #E5E5E5;
  color: #000;
  font-size: 1.3em;
  padding: 4px 4px;
}
.login-select ul.select-acount li .user-info__detail .user-info__detail__wp span {
  font-size: 0.7em;
}
.login-select ul.select-acount li .user-info__detail .user-info__detail__ex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 33%;
  background: #E5E5E5;
  color: #000;
  font-size: 1.3em;
  padding: 4px 4px;
}

.login h2 {
  width: 90%;
  background-color: #000;
  line-height: 28px;
  padding-left: 2%;
  color: #FFF;
  font-size: 0.8em;
  margin: 15px auto;
}
.login .information .information__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  z-index: 100;
  margin-bottom: 2px;
  padding-left: 10px;
}
.login .information .information__tab li {
  cursor: pointer;
}
.login .information .information__body {
  width: 98%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 0 2px #FFF,
  0 0 0 4px #9E9E9E;
  box-shadow: 0 0 0 2px #FFF,
  0 0 0 4px #9E9E9E;
  height: auto;
  border-radius: 8px;
  display: none;
  font-size: 0.8em;
}
.login .information .information__body.info-update {
  background-color: var(--yellow);
}
.login .information .information__body.info-news {
  background-color: #1AA9EC;
}
.login .information .information__body.is-show {
  display: block;
}
.login .information .information__body ul {
  width: 95%;
  margin: 0 auto;
  padding-top: 0px;
}
.information .information__body {
  width: 98%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 0 2px #FFF,
  0 0 0 4px #9E9E9E;
  box-shadow: 0 0 0 2px #FFF,
  0 0 0 4px #9E9E9E;
  height: auto;
  border-radius: 8px;
  display: none;
  font-size: 0.8em;
}
.information .information__body.info-update {
  background-color: var(--yellow);
}
.information .information__body.info-news {
  background-color: #1AA9EC;
}
.information .information__body.is-show {
  display: block;
}
.information .information__body ul {
  width: 95%;
  margin: 0 auto;
  padding-top: 0px;
}
.information .information__body ul li {
  background-color: #FFF;
  min-height: 38px;
  font-size: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px;
  overflow: hidden;
}
.information .information__body ul li .term{
  font-size: 0.7em;
}
.login .login-btn {
  display: block;
  background-color: #F31A7D;
  width: 120px;
  margin: 30px auto 15px;
  -webkit-box-shadow: 0 0 0 2px #FFF,
  0 0 0 4px #9E9E9E;
  box-shadow: 0 0 0 2px #FFF,
  0 0 0 4px #9E9E9E;
  line-height: 22px;
  border-radius: 8px;
  color: #FFF;
  font-size: 0.7em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
.login .login-btn a {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
}
.login .login-btn a.btn.login::before{
  mask-image: url('/img/web/ic/ic-login.svg');
  -webkit-mask-image: url('/img/web/ic/ic-login.svg');
  display: inline-block;
  content: '';
  background-color: #fff;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  height: 20px;
  width: 20px;
  margin: 0 5px -6px 0;
  transform:scale(0.8);
}
.login .login-btn img {
  height: 12px;
  width: 14px;
  vertical-align: middle;
}

.user-info {
  position: relative;
  width: 90%;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.user-info .user-info__icon {
  position: relative;
  width: 134px;
  height: 137px;
}
.user-info .user-info__icon .symbol__color__base{
  position: relative;
}
.user-info .user-info__icon .symbol__color__base > img {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px #FFF,
  0 0 0 2px #9E9E9E;
  box-shadow: 0 0 0 1px #FFF,
  0 0 0 2px #9E9E9E;
}
.user-info .user-info__icon .icon__image{
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.9);
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}
.user-info .user-info__icon img {
  width: 100%;
}
.user-info .user-info__icon__stage {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  z-index: 1;
}
.user-info .user-info__icon__official {
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 40px;
  z-index: 1;
}
.user-info .user-info__icon__vip {
  background-color: #FFF;
  position: absolute;
  bottom: 8px;
  left: 110px;
  width: auto;
  border: #F31A7D solid 2px;
  color: #F31A7D;
  text-align: right;
  padding: 0 10px 0 22px;
  line-height: 1rem;
  font-size: 0.7rem;
  font-weight: bold;
  z-index: 1;
  white-space: nowrap;
}
.user-info .user-info__icon__vip::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("/img/web/ic/ic-vip.svg");
  background-size: 35px 24px;
  width: 35px;
  height: 24px;
  top: -4px;
  left: -20px;
}
.user-info .user-info__detail {
  width: 53%;
  height: 137px;
  font-size: 0.7rem;
  font-weight: bold;
}
.user-info .user-info__detail .user-info__detail__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.user-info .user-info__detail .user-info__detail__lv {
  position: relative;
  background: #F31A7D;
  line-height: 24px;
  color: #FFF;
  width: 30%;
  text-align: center;
}
.user-info .user-info__detail .user-info__detail__lv::after {
  content: "";
  background: #F31A7D;
  -webkit-clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 105%);
  clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 105%);
  height: 24px;
  width: 24px;
  position: absolute;
}
.user-info .user-info__detail .user-info__detail__name {
  background: #000;
  line-height: 24px;
  color: #FFF;
  width: 75%;
  text-align: center;
}
.user-info .user-info__detail .user-info__detail__title {
  background: #E5E5E5;
  color: #000;
  font-size: 1em;
  line-height: 1em;
  margin: 5px 0;
  padding: 8px 4px 8px 8px;
  height: 25px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.user-info .user-info__detail .user-info__detail__title::-webkit-scrollbar {
  display: none;
}
.user-info .user-info__detail .user-info__detail__wp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 55%;
  background: #E5E5E5;
  color: #000;
  font-size: 1.3em;
  padding: 4px 4px;
}
.user-info .user-info__detail .user-info__detail__wp span {
  font-size: 0.7em;
}
.user-info .user-info__detail .user-info__detail__ex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 33%;
  background: #E5E5E5;
  color: #000;
  font-size: 1.3em;
  padding: 4px 4px;
}
.user-info .user-info__detail .rating__wrap {
  display: flex;
  margin-top: 5px;
  float: right;
}
.user-info .user-info__detail .rating__img {
  position: relative;
}
.user-info .user-info__detail .rating__data {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 1.2em;
  color: #fff;
}

.bottom_btn ul {
  width: 75%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.bottom_btn ul li a {
  display: block;
  background-color: #000;
  width: 120px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 0 2px #FFF,
  0 0 0 4px #9E9E9E;
  box-shadow: 0 0 0 2px #FFF,
  0 0 0 4px #9E9E9E;
  line-height: 22px;
  border-radius: 8px;
  color: #FFF;
  font-size: 0.7em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

li {
  list-style: none;
}

body {
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  line-height: 1;
  background-image: url("/static/assets/pattern.png");
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

#progress-container {
  font-size: 1.2rem;

  margin-left: auto;
  margin-right: auto;

  height: 320px;
  width: 300px;

  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-circle {
  /* Centering hack */
  position: absolute;

  height: 250px;
  width: 250px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: visibility 0s 2s, opacity 2s cubic-bezier(0.95, 0.05, 0.795, 0.035) !important;
}

.visible {
  opacity: 1 !important;
  transition: visibility 0s 2s, opacity 2s cubic-bezier(0.95, 0.05, 0.795, 0.035) !important;
}

#ui {
  margin-left: auto;
  margin-right: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* ---------------------------------------------------
 footer
------------------------------------------------------ */
#footer {
  text-align: center;
  padding: 20px 0;
  max-width: 394px;
  margin: 0 auto;
}

#footer a.btn {
  display: block;
  background-color: #000;
  width: 120px;
  margin: 0 auto 16px;
  -webkit-box-shadow: 0 0 0 2px #FFF, 0 0 0 4px #9E9E9E;
  box-shadow: 0 0 0 2px #FFF, 0 0 0 4px #9E9E9E;
  line-height: 22px;
  border-radius: 8px;
  color: #FFF;
  font-size: 0.7em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

#footer a.btn:before {
  display: inline-block;
  content:'';
  background-color: #fff;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  height: 20px;
  width: 20px;
  margin: 0 5px -6px 0;
  transform: scale(0.8);
}

#footer a.btn[class*="top"]:before {/*トップへ*/
  mask-image: url('/img/web/ic/ic-top.svg');
  -webkit-mask-image: url('/img/web/ic/ic-top.svg');
}
#footer a.btn[class*="option"]:before {/*各種設定*/
  mask-image: url('/img/web/ic/ic-option.svg');
  -webkit-mask-image: url('/img/web/ic/ic-option.svg');
}
#footer a[class*="login"]:before {/*ログイン*/
  mask-image: url('/img/web/ic/ic-login.svg');
  -webkit-mask-image: url('/img/web/ic/ic-login.svg');
}
#footer a[class*="logout"]:before {/*ログアウト*/
  mask-image: url('/img/web/ic/ic-logout.svg');
  -webkit-mask-image: url('/img/web/ic/ic-logout.svg');
}
#footer a.btn[class*="music"]:before {/*楽曲解放*/
  mask-image: url('/img/web/ic/ic-music.svg');
  -webkit-mask-image: url('/img/web/ic/ic-music.svg');
}
#footer a[class*="vip"]:before {/*VIP利用規約へ*/
  mask-image: none;
  -webkit-mask-image: none;
  background-color: transparent;
  background-image: url('/img/web/ic/ic-vip.svg');
  background-repeat: no-repeat;
  height: 21px;
  width: 30px;
  margin: 0 5px -7px 0;
}
#footer hr {
  margin: 10px;
}
/*権利表記*/
#footer #copyright {
  font-size: 12px;
}
#footer #copyright > p {
  margin: 6px 0;
}
#footer #copyright > p > img.copyright_logo {
  position: relative;
  height: 14px;
  top: 3px;
  left: 3px;
}
#footer #logo_copyright {
  font-size: 12px;
}

/*テキストメニュー*/
#footer #text_menu {
  font-size: 12px;
  margin: 24px 0;
}
#footer #text_menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
#footer #text_menu ul > li {
  border-right: 1px solid #000;
  padding: 0 10px;
}
#footer #text_menu ul > li:last-child {
  border-right: none;
}
#footer #text_menu ul > li a {
  color: #000;
}

/*ロゴ*/
#footer div.logo {
  display: flex;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}

p { 
  text-align: center;
}

li p {
  text-align: inherit;
}

div a.btn, div button.btn{
  display: inline-block;
  background-color: #000;
  /*min-width: 95px !important;*/
  margin: 0 auto;
  -webkit-box-shadow: 0 0 0 2px #FFF,
  0 0 0 4px #9E9E9E;
  box-shadow: 0 0 0 2px #FFF,
  0 0 0 4px #9E9E9E;
  line-height: 26px;
  border-radius: 8px;
  color: #FFF;
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 0 6px;
}

div a.btn_pink, div button.btn_pink {
  background-color: var(--pink);
}

div a.btn_inferno, div button.btn_inferno {
  background-color: var(--inferno);
}

p > input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 70%;
    padding: 4px;
    margin: 8px;
    margin-left: 0;
}